.footer {
  text-align: center;
  background-color: $button-bg-color;
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright-text {
  font-size: 10px;
  font-weight: 700;
  color: $white-color;
  margin: 0;
}
